.company {
   display: flex;
    padding: 100px 0 0;
    font-size: 14px;
    line-height: 19px;

    &-logo {
      display: flex;
      justify-content: center;
      margin-bottom: 100px;
       img {
          max-width: 30%;
       }
    }
    &__flex {
       display: flex;
       justify-content: space-between;
    }
    &__content {
         max-width: 700px;
        padding: 0 0 60px;
        font-size: 18px;
        p {
            margin: 0;
            font-weight: 300;
            padding-bottom: 45px;
            line-height: 32px;
            span {
               color: #b39500;
            }
        }
    }

    &__link {
       display: inline-block;
       margin: 80px 0 0 60px;
       text-decoration: underline;
    }

    &__text {

       img {
         max-width: 500px;
       }
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      &-splitter {
         background-color: #fae060;
         height: 30px;
         width: 100%;
         margin-bottom: 100px;
      }
      &-text {
         span {
            color: #b39500;
         }
         font-weight: 300;
         font-size: 18px;
         max-width: 700px;
      }
    }
}