.projects {
   padding: 100px 60px;
  &__container {
    position: relative;
  }

  &__slider {
    margin-top: 70px;
    padding: 0 60px;
  }

  &__slide {
    position: relative;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding-top: 36%;
  }

  &__slide-info {
    position: absolute;
    bottom: 35px;
    right: 19px;
    background-color: #fae060;
    padding: 10px 25px 10px;
  }

  &__slide-title {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &__slide-text {
    font-size: 13px;
    line-height: 18px;
    font-weight: 300;
  }

  &__btn-prev {
    top: 0;
    right: 69px;
  }

  &__btn-next {
    top: 0;
    right: 15px;
  }
}
