<section id="catalog" class="catalog">
    <div class="container">
        <h2 class="title">Каталог продукции</h2>
        <ul class="catalog__btns">
            <li class="catalog__btns-item">
                <button class="catalog__btn" type="submit">Трансформаторы</button>
            </li>
            <li class="catalog__btns-item">
                <button class="catalog__btn" type="submit">Оборудование 0,4кВ</button>
            </li>
            <li class="catalog__btns-item">
                <button class="catalog__btn" type="submit">Оборудование 6-10-20кв</button>
            </li>
            <li class="catalog__btns-item">
                <button class="catalog__btn" type="submit">Трансформаторные подстанции</button>
            </li>
            <li class="catalog__btns-item">
                <button class="catalog__btn" type="submit">Металические корпуса</button>
            </li>
        </ul>
        <div class="catalog__items">
            <div class="catalog__item">
                <img class="catalog__item-img" src="images/catalog-1.png" alt="Товар">
                <h3 class="catalog__item-title">
                    <span class="catalog__item-span">Маслянные 20-10/0,4кВ</span>
                </h3>
            </div>
            <div class="catalog__item">
                <img class="catalog__item-img" src="images/catalog-2.png" alt="Товар">
                <h3 class="catalog__item-title">
                    <span class="catalog__item-span">Сухие 20-10/0,4кВ</span>
                </h3>
            </div>
        </div>
    </div>
</section>