<section class="catalog">
   <div class="container catalog__container">
     <h2 class="title">Продукция</h2>
     <div class="catalog__slider swiper-container">
       <div class="swiper-wrapper">
         <a class="swiper-slide catalog__slide" href="product-01.html" style="background-image: url(images/0.png);">
             <div class="projects__slide-info">
                 <h3 class="projects__slide-title">Оборудование 0,4 кВ</h3>
             </div>
         </a>
         <a class="swiper-slide catalog__slide" href="product-02.html" style="background-image: url(images/6-20.png);">
             <div class="projects__slide-info">
                 <h3 class="projects__slide-title">Оборудование 6-10-20 кВ</h3>
             </div>
         </a>
         <a class="swiper-slide catalog__slide" href="product-03.html" style="background-image: url(images/MW.png);">
             <div class="projects__slide-info">
                 <h3 class="projects__slide-title">Металлические корпуса для ЭОМ</h3>
             </div>
         </a>
         <a class="swiper-slide catalog__slide" href="product-04.html" style="background-image: url(images/0.png);">
             <div class="projects__slide-info">
                 <h3 class="projects__slide-title">Трансформаторные подстанции</h3>
             </div>
         </a>
         <a class="swiper-slide catalog__slide" href="product-05.html" style="background-image: url(images/transform.png);">
            <div class="projects__slide-info">
                <h3 class="projects__slide-title">Трансформаторы</h3>
            </div>
        </a>
       </div>
     </div>
     <button class="slider-btn catalog__btn-prev">
       <svg
         width="12"
         height="19"
         viewBox="0 0 12 19"
         xmlns="http://www.w3.org/2000/svg"
       >
         <path
           stroke="#000"
           stroke-width="2"
           d="M1.102 10.198l8.905-8.905M10.612 18.293L1.707 9.388"
         />
       </svg>
     </button>
     <button class="slider-btn catalog__btn-next">
       <svg
         width="12"
         height="19"
         viewBox="0 0 12 19"
         fill="none"
         xmlns="http://www.w3.org/2000/svg"
       >
         <path
           stroke="#000"
           stroke-width="2"
           d="M10.612 10.198L1.707 1.293M1.102 18.293l8.905-8.905"
         />
       </svg>
     </button>
   </div>
 </section>
 