<section id="catalog" class="catalog">
    <div class="container">
        <h2 class="title">Каталог продукции</h2>
        <ul class="catalog__btns">
            <li class="catalog__btns-item">
                <button class="catalog__btn" type="submit">Трансформаторы</button>
            </li>
            <li class="catalog__btns-item">
                <button class="catalog__btn" type="submit">Оборудование 0,4кВ</button>
            </li>
            <li class="catalog__btns-item">
                <button class="catalog__btn" type="submit">Оборудование 6-10-20кв</button>
            </li>
            <li class="catalog__btns-item">
                <button class="catalog__btn" type="submit">Трансформаторные подстанции</button>
            </li>
            <li class="catalog__btns-item">
                <button class="catalog__btn" type="submit">Металические корпуса</button>
            </li>
        </ul>
    </div>
</section>