<section class="company">
  <div class="container">
     <div class="company-logo">
      <img src="images/logo-black.png" alt="">
     </div>
     <div class="company__flex">
      <div class="company__left">
         <div class="company__content">
           <p>
            ООО ПК «Элкуб» является правообладателем торговых марок <span>«ElCub»</span> и <span>«ElSmart»</span>. Электрооборудование этих марок аттестовано и успешно эксплуатируется на объектах гражданского строительства, «Росавиации», ПАО «РусГидро», МРСК, ОЭК, ГК «Росатом», РЖД и на других объектах энергетической отрасли от Калининграда до Петропавловска-Камчатского.
           </p>
           <p>
            Сегодня ООО ПК «Элкуб» осуществляет полный спектр услуг по производству, проектированию, сопровождению и внедрению объектов энергоснабжения, а собственное производство электротехнического оборудования сокращает срок их реализации, что позволяет устанавливать конкурентные цены.
           </p>
         </div>
        </div>
         <div class="company__text">
            <img class="" src="images/company-img.jpg" alt="" />
        </div>
     </div>

  </div>
</section>
