<section class="company__bot">
   <div class="container">
      <div class="company__bottom-splitter"></div>
      <div class="company__bottom">
         <div class="company__bottom-text">
            <p><span>ElCub</span> - это предприятие полного производственнго цикла в части выпуска продукции РУНН напряжением до 1 кВ и РУВН напряжением 6-20 кВ</p>
            <p><span>ElCub</span> - это производитель блочных трансформаторных подстанций и распределительных пунктов напряжением 6-35/0,4 кВ</p>
            <p><span>ElCub</span> - это опытных руководителей, высоко квалифицированного инженерного и производственного персонала.</p>
            <p><span>ElCub</span> - это полный спектр услуг по производству, проектированию, сопровождению и внедрению объектов энергоснабжения</p>
            <p><span>ElCub</span> - это собственное производство электротехнического оборудования, что существенно сокращает срок их реализации.</p>
            <p><span>ElCub</span> - это конкурентные цены</p>
         </div>
         <div class="company__text">
            <img class="" src="images/company-underline.JPG" alt="" />
         </div>
      </div>
</div>
</section>
