<section class="product-detail">
   <div class="container">
       <div class="row">
           <div class="col-sm-6 col-xs-12">
                         
             <div class="row product-view">
                                   <img src="images/SU.png" data-toggle="modal" data-target="#largeView" alt="Electric Pallet Truck for light and middle duty applications KH.BS" id="largethumb" class="img-responsive">
             </div>

                         <!-- Modal -->
          <div class="modal fade" id="largeView" role="dialog">
             <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                   <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"></button>
                   </div>
                   <div class="modal-body">
                      <div class="productlarge">
                         <img src="" alt="" id="largethumbnail" class="img-responsive product-popup-img ui-draggable ui-draggable-handle" style="position: relative;">
                      </div>
                   </div>
                   <div class="modal-footer">
                      <div class="zoomer">
                         <input type="range" min="1" max="20" value="1" step="0.2" id="zoomer" oninput="deepdive()">
                      </div>
                   </div>
                </div>

             </div>
          </div>
           </div>
           <div class="col-sm-6 col-xs-12">
               <div class="row">
                   <div class="col-sm-12 product-content">
                       <h1 class="product-title">Шкафы управления</h1>
                           <p>Шкафы управления (ШУ), предназначены для ручного, автоматического и дистанционного управления исполнительными устройствами и визуального контроля за режимами их работы. Собственное производство шкафов управления и комплектация лучшими образцами релейной и микроконтроллерной техники позволяет оборудовать полнофункциональный шкаф управления для любых задач и обеспечивать каждый шкаф управления гарантийным и послегарантийным обслуживанием.</p>
                   </div>
               </div>
           </div>
       </div>
   </div>
</section>
<section class="container-fluid product-description">
   <div class="row description-tabs">
       <div class="container">
           <div class="row">
               <div class="col-xs-12">
               <script>
               jQuery(document).ready(function(){
                   jQuery("ul.nav-tabs li:nth-child(1)").addClass("active");
                   jQuery(".tab-content .tab-pane:nth-child(1)").addClass("in");
                   jQuery(".tab-content .tab-pane:nth-child(1)").addClass("active");
               });
               
               </script>
                   <ul class="nav nav-tabs">
                   <li class="active">
                   <a data-toggle="tab" href="#description" aria-expanded="true" class="active__description">
                  Описание товара</a>
                </li>
                  <li class="">
                   <a data-toggle="tab" href="#technical-data" aria-expanded="false">
                      Технические характеристики</a>
                </li>
                </ul>
               </div>
           </div>
       </div>
   </div>
   <div id="description" class="tab-pane">
      <h3>Описание</h3>
     <p>Шкафы управления (ШУ), предназначены для ручного, автоматического и дистанционного управления исполнительными устройствами и визуального контроля за режимами их работы. Собственное производство шкафов управления и комплектация лучшими образцами релейной и микроконтроллерной техники позволяет оборудовать полнофункциональный шкаф управления для любых задач и обеспечивать каждый шкаф управления гарантийным и послегарантийным обслуживанием.</p>
   </div>
