<div class="container">
   <div class="well well-sm"></div>
       <div class="btn-group">
            <h2 class="title">Каталог продукции</h2>
       </div>
   </div>
   <div id="products" class="row">
       <div class="item  col-xs-4 col-lg-4">
           <div class="thumbnail">
               <img class="group list-group-image" src="images/catalog-1.png" alt="" />
               <div class="caption">
                   <h4 class="group inner list-group-item-heading">
                     Оборудование 0,4 кВ</h4>
                   <p class="group inner list-group-item-text">
                       Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                       sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                   <div class="row">
                       <div class="col-xs-12 col-md-6">
                           <a class="products__btn" href="product-items.html">Подробнее</a>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div class="item  col-xs-4 col-lg-4">
           <div class="thumbnail">
               <img class="group list-group-image" src="images/catalog-1.png" alt="" />
               <div class="caption">
                   <h4 class="group inner list-group-item-heading">
                     Оборудование 6-10-20 кВ</h4>
                   <p class="group inner list-group-item-text">
                       Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                       sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                   <div class="row">
                       <div class="col-xs-12 col-md-6">
                           <a class="products__btn" href="product-items.html">Подробнее</a>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div class="item  col-xs-4 col-lg-4">
           <div class="thumbnail">
               <img class="group list-group-image" src="images/catalog-1.png" alt="" />
               <div class="caption">
                   <h4 class="group inner list-group-item-heading">
                     Металлические корпуса для ЭОМ </h4>
                   <p class="group inner list-group-item-text">
                       Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                       sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                   <div class="row">
                       <div class="col-xs-12 col-md-6">
                           <a class="products__btn" href="http://www.jquery2dotnet.com">Подробнее</a>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div class="item  col-xs-4 col-lg-4">
           <div class="thumbnail">
               <img class="group list-group-image" src="images/catalog-1.png" alt="" />
               <div class="caption">
                   <h4 class="group inner list-group-item-heading">
                     Трансформаторные подстанции</h4>
                   <p class="group inner list-group-item-text">
                       Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                       sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                   <div class="row">
                       <div class="col-xs-12 col-md-6">
                           <a class="products__btn" href="http://www.jquery2dotnet.com">Подробнее</a>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div class="item  col-xs-4 col-lg-4">
           <div class="thumbnail">
               <img class="group list-group-image" src="images/catalog-1.png" alt="" />
               <div class="caption">
                   <h4 class="group inner list-group-item-heading">
                     Продукт 1</h4>
                   <p class="group inner list-group-item-text">
                       Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                       sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                   <div class="row">
                       <div class="col-xs-12 col-md-6">
                           <a class="products__btn" href="http://www.jquery2dotnet.com">Подробнее</a>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div class="item  col-xs-4 col-lg-4">
           <div class="thumbnail">
               <img class="group list-group-image" src="images/catalog-1.png" alt="" />
               <div class="caption">
                   <h4 class="group inner list-group-item-heading">
                     Продукт 1</h4>
                   <p class="group inner list-group-item-text">
                       Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                       sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                   <div class="row">
                       <div class="col-xs-12 col-md-6">
                           <a class="products__btn" href="http://www.jquery2dotnet.com">Подробнее</a>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
