<section class="projects">
  <div class="container projects__container">
    <h2 class="title">Наши проекты</h2>
    <div class="projects__slider swiper-container">
      <div class="swiper-wrapper">
        <a class="swiper-slide projects__slide" href="projects-main.html" style="background-image: url(images/pic-2.png);">
            <div class="projects__slide-info">
                <h3 class="projects__slide-title">ПАО «МОЭСК»</h3>
                <p class="projects__slide-text">поставка модульного ЗРУ 10 (6) кВ</p>
            </div>
        </a>
        <a class="swiper-slide projects__slide" href="projects-main.html" style="background-image: url(images/neft.png);">
            <div class="projects__slide-info">
                <h3 class="projects__slide-title">ПС «Савельевская»ПАО «Оренбургнефть»</h3>
                <p class="projects__slide-text">поставка модульной подстанции 35\10 кВ</p>
            </div>
        </a>
        <a class="swiper-slide projects__slide" href="projects-main.html" style="background-image: url(images/project-1.jpg);">
         <div class="projects__slide-info">
             <h3 class="projects__slide-title">ООО «Дальэнергомост»</h3>
             <p class="projects__slide-text">поставка модульной подстанции 35\10 кВ</p>
         </div>
     </a>
     <a class="swiper-slide projects__slide" href="projects-main.html" style="background-image: url(images/project-2.jpg);">
         <div class="projects__slide-info">
             <h3 class="projects__slide-title">ПАО «Ленэнерго»</h3>
             <p class="projects__slide-text">поставка модульного ЗРУ 10 (6) кВ</p>
         </div>
     </a>
     <a class="swiper-slide projects__slide" href="projects-main.html" style="background-image: url(images/elo5.png);">
      <div class="projects__slide-info">
          <h3 class="projects__slide-title">ПС «Созвездие» ПАО «МРСК Центра и Приволжья»</h3>
          <p class="projects__slide-text">поставка модульной подстанции 35\10 кВ</p>
      </div>
  </a>
  <a class="swiper-slide projects__slide" href="projects-main.html" style="background-image: url(images/elo6.png);">
   <div class="projects__slide-info">
       <h3 class="projects__slide-title">ММБТП 10/20 кВ 25 МВА ПАО «МОЭСК»</h3>
       <p class="projects__slide-text">поставка модульной подстанции 35\10 кВ</p>
   </div>
</a>
<a class="swiper-slide projects__slide" href="projects-main.html" style="background-image: url(images/elo7.png);">
   <div class="projects__slide-info">
       <h3 class="projects__slide-title">ПС No210 «Ленсоветовская»ПАО «Ленэнерго»</h3>
       <p class="projects__slide-text">поставка модульной подстанции 35\10 кВ</p>
   </div>
</a>
      </div>
    </div>
    <button class="slider-btn projects__btn-prev">
      <svg
        width="12"
        height="19"
        viewBox="0 0 12 19"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke="#000"
          stroke-width="2"
          d="M1.102 10.198l8.905-8.905M10.612 18.293L1.707 9.388"
        />
      </svg>
    </button>
    <button class="slider-btn projects__btn-next">
      <svg
        width="12"
        height="19"
        viewBox="0 0 12 19"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke="#000"
          stroke-width="2"
          d="M10.612 10.198L1.707 1.293M1.102 18.293l8.905-8.905"
        />
      </svg>
    </button>
  </div>
</section>
