<section class="reasons">
    <div class="container">
        <h2 class="reasons__title">Почему мы ?</h2>
        <ul class="reasons__list">
            <li class="reasons__item">
                <h3 class="reasons__item-title">С нами вы пунктуальные во всем!</h3>
                <p class="reasons__item-text">Мы всегда придерживаемся оговоренных ранее сроков. С нами вы всегда сможете уверенно спланировать запуск объекта!</p>
            </li>
            <li class="reasons__item">
                <h3 class="reasons__item-title">Вы - особенные!</h3>
                <p class="reasons__item-text">Наша компания произведёт оборудование согласно Вашей индивидуальной конфигурации. Мы это 
                    ПРОЕКТ, ПРОИЗВОДСТВО, ВНЕДРЕНИЕ: берем на себя все стадии для качественного предоставления работ «под ключ».</p>
            </li>
            <li class="reasons__item">
                <h3 class="reasons__item-title">Вы получаете экспертную техническую поддержку!</h3>
                <p class="reasons__item-text">
                    Наши специалисты готовы всегда Вам помочь, ответить на любые ваши вопросы, предоставить вам техническую и клиентскую поддержку.</p>
            </li>
            <li class="reasons__item">
                <h3 class="reasons__item-title">Вы экономите своё время и деньги!</h3>
                <p class="reasons__item-text"> 
                    Наша компания состоит из высококвалифицированных экспертов, которые предоставляют Вам техническую поддержку и консультацию еще на этапе формирования предложения. Мы являемся прямыми производителями – Вы имеете возможность приобрести товар и услуги без наценок</p>
            </li>
        </ul>
    </div>
</section>