<section class="top swiper-container">
  <div class="top__wrapper swiper-wrapper">
    <div
      class="top__item swiper-slide"
      style="background-image: url(../images/top-bg.jpg)"
    >
      <div class="container top__container">
        <div class="top__inner">
          <h3 class="top__title">
            Производство электротехнического<br>оборудования
          </h3>
          <p class="top__text">Трансформаторные подстанции</p>
          <div>
            <a class="top__link" href="#catalog">КАТАЛОГ</a>
          </div>
        </div>
      </div>
    </div>
    <div
      class="top__item swiper-slide"
      style="background-image: url(../images/header-bg.jpg)"
    >
      <div class="container top__container">
        <div class="top__inner">
          <h3 class="top__title">
            Производство электротехнического<br>оборудования
          </h3>
          <p class="top__text">Трансформаторные подстанции</p>
          <div>
            <a class="top__link" href="#catalog">КАТАЛОГ</a>
          </div>
        </div>
      </div>
    </div>
    <div
      class="top__item swiper-slide"
      style="background-image: url(../images/top-bg.jpg)"
    >
      <div class="container top__container">
        <div class="top__inner">
          <h3 class="top__title">
            Производство электротехнического<br>оборудования
          </h3>
          <p class="top__text">Трансформаторные подстанции</p>
          <div>
            <a class="top__link" href="#catalog">КАТАЛОГ</a>
          </div>
        </div>
      </div>
    </div>
    <div
      class="top__item swiper-slide"
      style="background-image: url(../images/header-bg.jpg)"
    >
      <div class="container top__container">
        <div class="top__inner">
          <h3 class="top__title">
            Производство электротехнического<br>оборудования
          </h3>
          <p class="top__text">Трансформаторные подстанции</p>
          <div>
            <a class="top__link" href="#catalog">КАТАЛОГ</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="top__pagination"></div>
</section>
